body {
  max-width: 810px;
  margin: 0 auto 10em;
  padding: .5em;
  line-height: 1.5;
  font-size: 125%;
  font-family: 'Noto Sans', sans-serif; }
  body * {
    font-family: inherit; }

form textarea {
  box-sizing: border-box;
  width: 100%;
  height: 60vh;
  font-size: 112.5%;
  line-height: 1.5; }

.editForm input[type='submit'] {
  font-size: 150%;
  cursor: pointer; }

.nav {
  margin-top: 2em;
  float: right;
  text-align: right; }

.controls {
  float: left; }

.link {
  font-family: 'Source Code Pro', monospace;
  font-size: .75em;
  margin: 0 .5em; }

.title {
  clear: right;
  text-align: center;
  margin: 1em 0; }
  .title h1 {
    margin: 0; }

.deleteForm {
  margin: .2em 0;
  height: 2em;
  line-height: 2em;
  font-family: 'Source Code Pro', monospace;
  font-size: .5em; }
  .deleteForm > * {
    vertical-align: middle; }
  .deleteForm input[type='submit'] {
    display: none;
    cursor: pointer;
    font-size: inherit; }
  .deleteForm input[type='checkbox'] {
    width: 1em; }
  .deleteForm input[name='delete']:checked + input[type='submit'] {
    display: inline; }

.markupContainer {
  min-height: 10em; }

.annotation {
  font-size: 75%; }

.right {
  text-align: right; }

@media screen and (max-width: 500px) {
  .topLink {
    margin-top: 1em; }
  h1 {
    font-size: 1.5em; }
  h2 {
    font-size: 1.25em; }
  h3 {
    font-size: 1.125em; } }

.topics {
  margin-top: 5em; }
  .topics h2 {
    text-align: center; }
  .topics ul {
    list-style: none; }

.searchForm {
  text-align: center; }
  .searchForm .error {
    display: block;
    visibility: hidden;
    color: red; }
  .searchForm form.noSuchPage .error {
    visibility: visible; }
