<!DOCTYPE html>
<html>
{{ template "head" . }}
<body>
  {{ template "nav" . }}

  <h1 class="title">{{ .Page.Title }}</h1>

  {{ if .Page.Versions }}
  <select id="versionSelector">
    <option value="">Current</option>
    {{ range $i, $version := .Page.Versions }}
    <option value="{{ $i }}">{{ $version.Date.Format "2006 Jan 02 3:04 PM" }}</option>
    {{ end }}
  </select>
  {{ else }}
  <em class="annotation">(No previous versions)</em>
  {{ end }}

  <div class="markupContainer" id="contentContainer">
    {{ .Page.Markup }}
  </div>
  
  {{ template "controls" . }}

  <script>
    var currentVersion = {{ .Page.Markup }};
    var versions = {{ .Page.Versions }};
  </script>
  <script src="/history.js"></script>

</body>
</html>