<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
  <link href="/styles.css" rel="stylesheet">
  <link href="/favicon.png" type="image/png" rel="icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Composables</title>
</head>
<body>
  <div class="nav">
    {{ if .User }}
    <span class="link"><a title="Logged in as {{ .User.Email }}" href="/user/logout?redirect=%2f">logout</a></span>
    {{ else}}
    <span class="link"><a href="/user/login?redirect=%2f">login</a></span>
    {{ end }}
    <span class="link">home</span>
  </div>

  <h1 class="title">The Composables</h1>

  {{ if .Introduction }} 
  <div class="markupContainer">
    {{ .Introduction }} 
  </div>
  {{ end }}

  <div class="topics">

    <h2>Topics</h2>

    <ul>
    {{ range .Pages }}
      <li>
        <a href="/view/{{ .ID }}">{{ .Title }}</a>
      </li>
    {{ end }}
    </ul>
  </div>
</body>
</html>