<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" />
  <link rel="stylesheet" href="awesomplete.css" />
  <link href="/styles.css" rel="stylesheet" />
  <link href="/favicon.png" type="image/png" rel="icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>The Composables</title>
</head>
<body>
  {{ template "nav" . }}

  <h1 class="title">The Composables</h1>

  {{ if .Introduction }} 
  <div class="markupContainer">
    {{ .Introduction }} 
  </div>
  {{ end }}

  {{ if .Pages }}
  <div class="topics">

    <h2>Topics</h2>

    <ul>
    {{ range .Pages }}
      <li>
        <a href="/view/{{ .ID }}">{{ .Title }}</a>
      </li>
    {{ end }}
    </ul>
  </div>
    {{ end }}

  <script>
    var isAdmin = {{ .IsAdmin }};
  </script>
  <script src="/search.js"></script>
  <script src="/awesomplete.js" async></script>
</body>
</html>