<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" />
  <link href="/styles.css" rel="stylesheet" />
  <link href="/awesomplete.css" rel="stylesheet" />
  <link href="/favicon.png" type="image/png" rel="icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>The Composables</title>
</head>
<body>
  {{ template "nav" . }}

  <h1 class="title">The Composables</h1>

  {{ if .Introduction }} 
  <div class="intro">
    {{ .Introduction }} 
  </div>
  {{ end }}

  <div class="categories">
    <h2>Topics</h2>
    {{ range $category, $pages := .Categories }}
    <div class="cat">
      <h3>{{ $category }}</h3>
      <ul>
      {{ range $pages }}
        <li>
          <a href="/view/{{ .ID }}">{{ .Title }}</a>
        </li>
      {{ end }}
      </ul>
    </div>
    {{ end }}
  </div>

  {{ template "navigationScripts" . }}
</body>
</html>