<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
  <link href="/styles.css" rel="stylesheet">
  <link href="/favicon.png" type="image/png" rel="icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Page.Title }}</title>
</head>
<body>
  <div class="topLink">[<a href="/">home</a>]</div>

  <h1>{{ .Page.Title }}</h1>
  
  {{ if .User }}{{ if .User.Admin }}
  <div class="controls">
    <span>[<a href="/edit/{{ .Page.ID }}">edit</a>]</span>
  </div>
  {{ end }}{{ end }}

  {{ .Page.Markup }}

</body>
</html>